* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-container {
  .svg-map {
    width: 100%;
    height: max(35vw, 400px);

    .cls-5 {
      fill: #ec7dfe;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      stroke-width: 0;
    }
    path:hover {
      fill: #e510ec;
      stroke: #9c09a1;
      stroke-width: 2.5px;
    }
  }
}
